<!DOCTYPE html>
<html>
<head>
    <title>{{ .title }}</title>
    <link rel="icon" type="image/png" href="/static/haha.png">
    <link rel="stylesheet" href="/static/css/style.css"> <!-- 引用 CSS -->
</head>
<body>
    <h1>页面标题</h1>
    <img src="/static/img/girl.png"> <!-- 引用图片 -->
    <script src="/static/js/app.js"></script> <!-- 引用 JS -->
</body>
</html>